#signupright-heading{
  font-size: 40px;
  font-weight: 600;
}
#signupright-text{
    color: #728AA4;
    font-size: 20px;
    font-weight: 200;
}
#signupright-text1{
    font-size: 24px;
    font-weight: 600;
    color: "#214E62";
}