.menu-item {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  gap: 10px; /* Adjusts spacing between elements */
  position: relative;
  cursor: pointer;
  padding: 10px 15px;
  font-weight: 500;
  color: #0056d2;
}
.menu-link {
  display: inline-flex !important;
  -webkit-box-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  gap: 2px !important;
  font-size: 1rem !important;
  line-height: 1.6 !important;
  font-weight: 700 !important;
  color: rgb(11, 53, 88) !important;
  white-space: nowrap !important;
  transition: 0.2s linear !important;
}


.popover-content {
  flex-wrap: nowrap !important; 
  width: 100% !important;
  height: 100% !important;
  background-color: yellowgreen !important;
}

.popover-content .MuiGrid-item {
  flex: 1; /* Ensures equal width for all sections */
  min-width: 0; /* Prevents content from overflowing */
  text-align: left;
  height: 500px !important;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  /* background-color: pink; */
}

.section-title {
  font-size: 1rem !important;
  line-height: 1.2 !important;
  font-weight: 600 !important;
  letter-spacing: 1.25px !important;
  text-transform: uppercase !important;
  text-align: left !important;
  color: rgb(166, 187, 209) !important;
  padding-top: 50px;
  /* font-family: __gilroy_2ec981 !important; */
}

.resource-item {
  margin-bottom: 15px !important;
  display: flex !important;
  gap: 4px !important;
  flex-direction: column !important;
}

.resource-name {
  margin-bottom: 8px !important;
  font-size: 1rem !important;
  line-height: 1.6 !important;
  width: fit-content !important;
  text-align: left !important;
  color: rgb(11, 53, 88) !important;
  font-weight: 600 !important;
}

.resource-desc {
  max-width: 250px !important;
  text-align: left !important;
  color: rgb(71, 103, 136) !important;
  font-size: 0.875rem !important;
  line-height: 1.4 !important;
  font-weight: 400 !important;
}

.promo-section {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.promo-image {
  display: block; /* Ensures the image is visible */
  width: 270px; /* Ensures responsiveness */
  height: auto; /* Keeps aspect ratio */
  border-radius: 8px;
  margin-bottom: 8px;
}

.promo-title {
  color: rgb(11, 53, 88) !important;
  font-size: 1rem !important;
  line-height: 1.6 !important;
  font-weight: 600 !important;
  padding-top: 17px !important;
}

.promo-desc {
  font-size: 14px;
  color: #4a5568;
  margin-bottom: 10px;
}
.promo-btn {
  cursor: pointer;
  transition: 0.2s linear, background-position 1ms, background-size 1ms;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 107, 255);
  background-color: rgb(0, 107, 255);
  padding: 8px 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  position: relative;
  height: fit-content;
  flex-direction: row;
  display: inline-flex;
  opacity: 1;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  text-align: center;
  font-family: __gilroy_2ec981, __gilroy_Fallback_2ec981;
  font-weight: 600;
  padding-top: 30px;
}

.promo-btn:hover {
  background: #0041a8;
}
