






.signup-link {
    cursor: pointer !important;
    transition: 0.2s linear, background-position 1ms, background-size 1ms !important;
    color: rgb(0, 107, 255) !important;
    font-size: 1.125rem !important;
    line-height: 1.6 !important;
    position: relative !important;
    height: fit-content !important;
    flex-direction: row !important;
    padding: 0px !important;
    display: inline-flex !important;
    opacity: 1 !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 8px !important;
    border-radius: 4px !important;
    text-align: left !important;
    font-family: __gilroy_2ec981, __gilroy_Fallback_2ec981 !important;
    font-weight: 600 !important;
}
