/* index.css */

/* For Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none; /* hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Optional: Prevent scroll but allow scroll with mouse or touch */
/* html, */
body {
  overflow: -moz-scrollbars-none; /* old Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
  overscroll-behavior: none;
}
